.content {
    display: flex;
    width: 100%;
    padding: 12px;
    overflow-y: scroll;
    height: calc(100vh - 75px);
}

.content::-webkit-scrollbar {
    display: none;
}

.content .blockify {
    display: block;
    width: 100%;
}

.content .blockify .flexify {
    display: flex;
    justify-content: center;
}

.content .dashboard {
    max-width: 1024px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 172px 172px;
    grid-row-gap: 64px;
    margin-bottom: 12px;
}

.content .dashboard .cell {
    height: 172px;
    display: flex;
    justify-content: center;
}

.content .dashboard .cell .card {
    padding: 12px;
    height: 148px;
    width: 148px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 28px;
    grid-template-areas:
        "icon"
        "title";
    grid-row-gap: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    color: black;
    text-decoration: none;
}

.content .dashboard .cell .card:hover {
    transform: scale(1.1);
}

.content .dashboard .cell .card .icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .dashboard .cell .card .icon img {
    height: 100%;
    width: 100%;
}

.content .dashboard .cell .card .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.content .flexify .web {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
    grid-gap: 12px;
}

.content .web .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .web .cell .button {
    width: 100%;
    background-color: #b6b6b6;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.content .web .cell .button:hover {
    background-color: #888888;
}

@media screen and (max-width: 790px) {
    .content .dashboard {
        max-width: 512px;
        width: 100%;
        grid-gap: 1px;
    }
}

@media screen and (max-width: 584px) {
    .content .dashboard {
        width: 344px;
        grid-template-columns: 1fr 1fr;
    }

    .content .flexify .web {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 96px 0;
    }
}

@media screen and (max-width: 472px) {
    .content .dashboard {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 172px 172px 172px 172px;
    }

        .content .flexify .web {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 96px 0;
    }
}