{% load static %}

<div class="sidebar">
    <div class="flexify">
        <div class="grid">
            {% if page == 'product' %}
                <a href="{% url 'articles' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/products.svg' %}" alt="products"/>
                        </div>
                        <div class="text">
                            <p>Produkte</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'articles' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/products.svg' %}" alt="products"/>
                        </div>
                        <div class="text">
                            <p>Produkte</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if page == 'reservations' %}
                <a href="{% url 'reservations' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/shopping_bag.svg' %}" alt="products"/>
                        </div>
                        <div class="text">
                            <p>Reservierungen</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'reservations' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/shopping_bag.svg' %}" alt="products"/>
                        </div>
                        <div class="text">
                            <p>Reservierungen</p>
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>