{% load static %}

<div class="sidebar">
    <div class="flexify">
        <div class="grid">
            <div class="logo">
            </div>
            {% if page == "home" %}
                <a href="{% url 'home' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/home_filled.svg' %}" alt="home"/>
                        </div>
                        <div class="text">
                            <p>Home</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url "home" %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/home_filled.svg' %}" alt="home"/>
                        </div>
                        <div class="text">
                            <p>Home</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% for group in request.user.groups.all %}
                {% if group.name == 'admin' or group.name == 'developer' or group.name == 'staff' %}
                    {% if page == "cloud" %}
                        <div class="section">
                            <div class="current">
                                <div class="icon">
                                    <img src="{% static 'svgs/cloud_filled.svg' %}" alt="cloud"/>
                                </div>
                                <div class="text">
                                    <p>Cloud</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="section">
                            <div class="not-current">
                                <div class="icon">
                                    <img src="{% static 'svgs/cloud_filled.svg' %}" alt="cloud"/>
                                </div>
                                <div class="text">
                                    <p>Cloud</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for group in request.user.groups.all %}
                {% if group.name == 'admin' or group.name == 'developer' or group.name == 'staff' %}
                    {% if page == "management" %}
                        <a a href="{% url 'board' %}" class="section">
                            <div class="current">
                                <div class="icon">
                                    <img src="{% static 'svgs/management_filled.svg' %}" alt="management"/>
                                </div>
                                <div class="text">
                                    <p>Management</p>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'board' %}" class="section">
                            <div class="not-current">
                                <div class="icon">
                                    <img src="{% static 'svgs/management_filled.svg' %}" alt="management"/>
                                </div>
                                <div class="text">
                                    <p>Management</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page == "product" %}
                <a href="{% url 'articles' %}" class="section">
                    <div class="current">
                        <div class="icon">
                            <img src="{% static 'svgs/store_filled.svg' %}" alt="forum"/>
                        </div>
                        <div class="text">
                            <p>Produkte</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'articles' %}" class="section">
                    <div class="not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/store_filled.svg' %}" alt="forum"/>
                        </div>
                        <div class="text">
                            <p>Produkte</p>
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if page == "forum" %}
                    <div class="section">
                        <div class="current">
                            <div class="icon">
                                <img src="{% static 'svgs/forum_filled.svg' %}" alt="forum"/>
                            </div>
                            <div class="text">
                                <p>Forum</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="section">
                        <div class="not-current">
                            <div class="icon">
                                <img src="{% static 'svgs/forum_filled.svg' %}" alt="forum"/>
                            </div>
                            <div class="text">
                                <p>Forum</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if page == "media" %}
                    <div class="section">
                        <div class="current">
                            <div class="icon">
                                <img src="{% static 'svgs/instagram.svg' %}" alt="social"/>
                            </div>
                            <div class="text">
                                <p>Medien</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="section">
                        <div class="not-current">
                            <div class="icon">
                                <img src="{% static 'svgs/instagram.svg' %}" alt="social"/>
                            </div>
                            <div class="text">
                                <p>Medien</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="section">
                <div class="not-current">
                    <div class="icon">
                        <img src="{% static 'svgs/help_filled.svg' %}" alt="help"/>
                    </div>
                    <div class=" text">
                        <p>Hilfe</p>
                    </div>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="loginout loginout-dashboard">
                    <p>Abmelden</p>
                    <img src="{% static 'svgs/logout.svg' %}" alt="logout"/>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="loginout loginout-dashboard">
                    <p>Anmelden</p>
                    <img src="{% static 'svgs/login.svg' %}" alt="logout"/>
                </a>
            {% endif %}
        </div>
    </div>
</div>