{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/global/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/main_store.css' %}">
    <title>Artikeln</title>
</head>
<body>
{% include 'components/header/dashboard.html' with title="Produkte" %}
<main>
    {% include 'components/sidebar/sidebar.html' with page="product" %}
    {% include 'components/subsidebar/subsidebar.html' with page="product" %}
    <div class="content">
        <div class="blockify">
            {% include 'components/profile/profile.html' %}
            {% for group in request.user.groups.all %}
                {% if group.name == 'admin' or group.name == 'staff' %}
                    <a class="button add" href="{% url 'article_create' %}">
                        <img src="{% static 'svgs/add.svg' %}" alt="add"/>
                    </a>
                {% endif %}
            {% endfor %}
            <div class="flexify">
                <div class="articles">
                    {% for article in articles %}
                        <div class="cell">
                            {% if request.user.is_authenticated %}
                                {% for group in request.user.groups.all %}
                                    {% if group.name == 'admin' or group.name == 'staff' %}
                                        <div class="card card-perm">
                                            <div class="title">
                                                <p>{{ article.title }}</p>
                                            </div>
                                            <div class="image">
                                                <img src="{{ article.get_image_url }}"
                                                     alt="{{ article.get_image_url }}"/>
                                            </div>
                                            <div class="description">
                                                <p>{{ article.description }}</p>
                                            </div>
                                            {% if request.user.is_authenticated %}
                                                <div class="reservation">
                                                    <p>Reservieren</p>
                                                </div>
                                            {% else %}
                                                <a href="{% url 'login' %}" class="reservation">
                                                    <p>Reservieren</p>
                                                </a>
                                            {% endif %}
                                            <div class="buttons">
                                                <a href="{% url 'article_update' article.id %}" class="button modify">
                                                    <img src="{% static 'svgs/modify.svg' %}" alt="add"/>
                                                </a>
                                                <a href="{% url 'article_delete' article.id %}" class="button delete">
                                                    <img src="{% static 'svgs/delete.svg' %}" alt="add"/>
                                                </a>
                                            </div>
                                            <div class="author">
                                                <p>{{ article.author.first_name }} {{ article.author.last_name }}</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card card-noperm">
                                            <div class="title">
                                                <p>{{ article.title }}</p>
                                            </div>
                                            <div class="image">
                                                <img src="{{ article.get_image_url }}"
                                                     alt="{{ article.get_image_url }}"/>
                                            </div>
                                            <div class="description">
                                                <p>{{ article.description }}</p>
                                            </div>
                                            {% if request.user.is_authenticated %}
                                                <div class="reservation">
                                                    <p>Reservieren</p>
                                                </div>
                                            {% else %}
                                                <a href="{% url 'login' %}" class="reservation">
                                                    <p>Reservieren</p>
                                                </a>
                                            {% endif %}
                                            <div class="author">
                                                <p>{{ article.author.first_name }} {{ article.author.last_name }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="card card-noperm">
                                    <div class="title">
                                        <p>{{ article.title }}</p>
                                    </div>
                                    <div class="image">
                                        <img src="{{ article.get_image_url }}" alt="{{ article.get_image_url }}"/>
                                    </div>
                                    <div class="description">
                                        <p>{{ article.description }}</p>
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        <div class="reservation">
                                            <p>Reservieren</p>
                                        </div>
                                    {% else %}
                                        <a href="{% url 'login' %}" class="reservation">
                                            <p>Reservieren</p>
                                        </a>
                                    {% endif %}
                                    <div class="author">
                                        <p>{{ article.author.first_name }} {{ article.author.last_name }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
</body>