.content {
    display: flex;
    width: 100%;
    padding: 12px;
    overflow-y: scroll;
    height: calc(100vh - 75px);
}

.content::-webkit-scrollbar {
    display: none;
}


.content .blockify {
    display: block;
    width: 100%;
}

.content .blockify .add {
    background-color: #009543;
}

.content .blockify .modify {
    background-color: gray;
}

.content .blockify .delete {
    background-color: #9d0300;
}

.content .blockify .button {
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
    padding: 6px;
    margin: 12px 0;
    border-radius: 2px;
    transition: transform 0.1s ease-in-out;
}

.content .blockify .button:hover {
    transform: scale(1.1);
}

.content .blockify .articles .cell .card .button {
    margin: 0 6px;
}

.content .blockify .button img {
    filter: invert();
}

.content .blockify .flexify {
    display: flex;
    justify-content: center;
}

.content .blockify .legende {
    font-size: 0.7rem;
    color: gray;
    max-width: 1024px;
    margin: 8px auto;
}

.content .blockify .tab {
    width: 1024px;
    height: 32px;
    margin: 12px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "tab1 tab2";
    background-color: #eeeeee;
    color: gray;
}

.content .blockify .tab a {
    text-decoration: none;
    color: gray;
}

.content .blockify .tab1:hover {
    background-color: #dedede;
}

.content .blockify .tab .tab1 {
    grid-area: tab1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-color: #d9d9d9;
    border-right-width: 1px;
    border-right-style: solid;
}

.content .blockify .tab .current {
    border-bottom-color: #ffae00;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.content .blockify .tab2:hover {
    background-color: #dedede;
}

.content .blockify .tab .tab2 {
    grid-area: tab2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-color: #d9d9d9;
    border-left-width: 1px;
    border-left-style: solid;
}

.content .blockify .reservation-card {
    max-width: 1006px;
    height: 46px;
    margin: 2px auto;
    background-color: white;
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 1fr 128px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title . status"
        "user . date";
    padding: 8px;
    cursor: pointer;
}

.content .blockify .reservation-card:hover {
    background-color: #eeeeee;
}

.content .blockify .reservation-card .title {
    font-weight: bold;
    grid-area: title;
    display: flex;
    align-items: center;
}

.content .blockify .reservation-card .user {
    grid-area: user;
    display: flex;
    align-items: center;
    color: gray;
}

.content .blockify .reservation-card .date {
    grid-area: date;
    display: flex;
    align-items: center;
    justify-content: right;
    color: gray;
    font-weight: bold;
    font-size: 0.7rem;
}

.content .blockify .reservation-card .status {
    grid-area: status;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.content .blockify .reservation-card .open {
    background-color: #ffae00;
}

.content .blockify .reservation-card .approved {
    background-color: #009543;
}

.content .blockify .reservation-card .denied {
    background-color: #9d0300;
}

.content .blockify .reservation-card .ready {
    background-color: #4957ff;
}

.content .blockify .reservation-card .done {
    background-color: gray;
}


.content .articles {
    max-width: 1024px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
    margin-bottom: 12px;
}

.content .articles .cell {
    display: flex;
    justify-content: center;
}

.content .articles .cell .card {
    padding: 12px;
    width: 100%;
    max-width: 384px;
    background-color: white;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
}

.content .articles .cell .card-perm {
    grid-template-rows: 28px 1fr 128px 44px 44px 24px;
    grid-template-areas:
        "title"
        "."
        "description"
        "reservation"
        "buttons"
        "author";
}

.content .articles .cell .card-noperm {
    grid-template-rows: 28px 1fr 128px 44px 24px;
    grid-template-areas:
        "title"
        "."
        "description"
        "reservation"
        "author";
}

.content .articles .cell .card .title {
    grid-area: title;
    font-size: 1.3rem;
}

.content .articles .cell .card .image {
}

.content .articles .cell .card .image img {
    width: 100%;
}

.content .articles .cell .card .description {
    grid-area: description;
    color: gray;
}

.content .articles .cell .card .reservation {
    display: flex;
    grid-area: reservation;
    justify-content: center;
    align-items: center;
    background-color: #ffae00;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.content .articles .cell .card .reservation:hover {
    background-color: #ff8800;
}

.content .articles .cell .card .buttons {
    grid-area: buttons;
    display: flex;
    justify-content: right;
}

.content .articles .cell .card .author {
    grid-area: author;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: bold;
    color: gray;
    font-size: 0.8rem;
}

.content .form-card {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    padding: 12px;
}

.content .form-card .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-weight: bold;
    font-size: 1.5rem;
}

.content .form-card .buttons {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cancel delete";
}

.content .form-card .delete-button {
    grid-area: delete;
    background-color: #9d0300;
    margin: 12px 0;
    font-size: 1.2rem;
}

.content .form-card .delete-button:hover {
    background-color: #730200;
}

.content .form-card .cancel-button {
    grid-area: cancel;
    background-color: gray;
    height: 48px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    margin: 12px 0;
    font-size: 1.2rem;
}

.content .form-card .cancel-button:hover {
    background-color: #757575;
}

@media screen and (max-width: 1304px) {
    .content .articles {
        grid-template-columns: 1fr;
    }
}