.content {
    display: flex;
    width: 100%;
    padding: 12px;
    overflow-y: scroll;
    height: calc(100vh - 75px);
}

.content .subpagetitle {
    font-size: 1.2rem;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.content::-webkit-scrollbar {
    display: none;
}

.content .blockify {
    display: block;
    width: 100%;
}

.content .blockify .editor {
    width: 100%;
    background-color: #eeeeee;
    height: 48px;
    margin: -12px 0 12px 0;
    display: grid;
    grid-template-columns: auto 48px;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". edit";
}

.paper {
    width: 100%;
    max-width: 720px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: white;
    padding: 24px;
    overflow-y: scroll;
    position: relative;
}

.content .blockify .editor .edit {
    display: flex;
    grid-area: edit;
    align-items: center;
    justify-content: center;
}

.content .blockify .editor .edit img {
    display: flex;
    width: 32px;
    justify-content: center;
    align-items: center;
}

.content .blockify .legende {
    font-size: 0.7rem;
    color: gray;
    max-width: 1024px;
    margin: 8px auto;
}

.content .blockify .tab {
    width: 1024px;
    height: 32px;
    margin: 12px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "tab1 tab2";
    background-color: #eeeeee;
    color: gray;
}

.content .blockify .tab a {
    text-decoration: none;
    color: gray;
}

.content .blockify .tab1:hover {
    background-color: #dedede;
}

.content .blockify .tab .tab1 {
    grid-area: tab1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-color: #d9d9d9;
    border-right-width: 1px;
    border-right-style: solid;
}

.content .blockify .tab .current {
    border-bottom-color: #a99869;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.content .blockify .tab2:hover {
    background-color: #dedede;
}

.content .blockify .tab .tab2 {
    grid-area: tab2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-color: #d9d9d9;
    border-left-width: 1px;
    border-left-style: solid;
}

.content .blockify .reservation-card {
    max-width: 1006px;
    height: 71px;
    margin: 2px auto;
    background-color: white;
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 1fr 128px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "title . status"
        "number . ."
        "user . date";
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.content .blockify .reservation-card:hover {
    background-color: #eeeeee;
}

.content .blockify .reservation-card .title {
    font-weight: bold;
    grid-area: title;
    display: flex;
    align-items: center;
    color: black;
}

.content .blockify .reservation-card .number {
    grid-area: number;
    display: flex;
    align-items: center;
    color: gray;
}

.content .blockify .reservation-card .user {
    grid-area: user;
    display: flex;
    align-items: center;
    color: gray;
}

.content .blockify .reservation-card .date {
    grid-area: date;
    display: flex;
    align-items: center;
    justify-content: right;
    color: gray;
    font-weight: bold;
    font-size: 0.7rem;
}

.content .blockify .reservation-card .status {
    grid-area: status;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.content .blockify .reservation-card .open {
    background-color: #a99869;
}

.content .blockify .reservation-card .approved {
    background-color: #009543;
}

.content .blockify .reservation-card .denied {
    background-color: #9d0300;
}

.content .blockify .reservation-card .ready {
    background-color: #4957ff;
}

.content .blockify .reservation-card .done {
    background-color: gray;
}

.content .blockify .user-card {
    max-width: 1006px;
    height: 60px;
    margin: 2px auto;
    background-color: white;
    border-color: #d9d9d9;
    border-width: 1px;
    border-style: solid;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 44px auto 1fr 128px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "profile title . role"
        "profile tag . .";
    grid-gap: 12px;
}

.content .blockify .user-card:hover {
    background-color: #eeeeee;
}

.content .blockify .user-card .profile-picture {
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .blockify .user-card .profile-picture-uknown {
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.content .blockify .user-card .title {
    grid-area: title;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}

.content .blockify .user-card .tag {
    grid-area: tag;
    color: gray;
}

.content .blockify .user-card .role {
    grid-area: role;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.content .blockify .user-card .role .customer {
    background-color: #a99869;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .blockify .user-card .role .staff {
    background-color: #5e53ff;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .blockify .user-card .role .developer {
    background-color: #37a9c7;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .blockify .user-card .role .admin {
    background-color: #9d0300;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .blockify .category-title {
    max-width: 1000px;
    margin: 12px auto;
    padding: 12px;
}

.content .blockify .user-detail {
    background-color: white;
    max-width: 1000px;
    margin: 12px auto;
    border-radius: 5px;
    padding: 12px;
}

.content .blockify .user-detail .data-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.content .blockify .user-detail data-container .data {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". title"
        ". username";
}

.content .blockify .user-detail .data-container .data .profile {
    display: flex;
    vertical-align: center;
    justify-content: center;
}

.content .blockify .user-detail .data-container .data .profile-uknown {
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
}

.content .blockify .user-detail .data-container .data .profile img {
    width: 100%;
    height: 100%;
}

.content .blockify .user-detail .data-container .data .title {
    grid-area: title;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.content .blockify .user-detail .data-container .data .username {
    grid-area: username;
    color: gray;
    display: flex;
    align-items: center;
}


.content .blockify .user-detail .user-cloud {
    border-top-color: #d9d9d9;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: #d9d9d9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 48px;
    margin: 0 -12px -1px -12px;
    padding: 0 24px;
    display: grid;
    grid-template-columns: 28px 1fr;
    grid-template-rows: 48px;
    grid-template-areas: "icon title";
    grid-gap: 12px;
    cursor: pointer;
    text-decoration: none;
}

.content .blockify .user-detail .user-cloud:hover {
    background-color: #eeeeee;
    border-radius: 5px;
}

.content .blockify .user-detail .user-cloud .icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(42%) sepia(97%) saturate(2294%) hue-rotate(165deg) brightness(100%) contrast(101%);
}

.content .blockify .user-detail .user-cloud .icon img {
    width: 100%;
}

.content .blockify .user-detail .user-cloud .file-title {
    grid-area: title;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: gray;
}

.gridify-role {
    display: grid;
    grid-template-columns: auto 32px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "role edit";
}

.edit {
    display: flex;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);
    cursor: pointer;
}

.edit img {
    width: 100%;
    height: 100%;
}

.detail-role {
    grid-area: role;
    color: gray;
    display: flex;
    align-items: center;
}

.detail-role .customer {
    color: #a99869;
}

.detail-role .staff {
    color: #5e53ff
}

.detail-role .developer {
    color: #37a9c7
}

.detail-role .admin {
    color: #9d0300
}

.content .form-card {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    padding: 12px;
    border-radius: 5px;
}

.content .form-card .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-weight: bold;
    font-size: 1.5rem;
}

.content .form-card .buttons {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cancel delete";
}

.content .form-card .delete-button {
    grid-area: delete;
    background-color: #9d0300;
    margin: 12px 0;
    font-size: 1.2rem;
}

.content .form-card .delete-button:hover {
    background-color: #730200;
}

.content .form-card .cancel-button {
    grid-area: cancel;
    background-color: gray;
    height: 48px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    margin: 12px 0;
    font-size: 1.2rem;
}

.content .form-card .cancel-button:hover {
    background-color: #757575;
}

.content .blockify .tab {
    width: 1024px;
    height: 32px;
    margin: 12px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "tab1 tab2";
    background-color: #eeeeee;
    color: gray;
}

.content .blockify .tab a {
    text-decoration: none;
    color: gray;
}

.content .blockify .tab1:hover {
    background-color: #dedede;
}

.content .blockify .tab .tab1 {
    grid-area: tab1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-color: #d9d9d9;
    border-right-width: 1px;
    border-right-style: solid;
}

.content .blockify .tab .current {
    border-bottom-color: #a99869;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.content .blockify .tab2:hover {
    background-color: #dedede;
}

.content .blockify .tab .tab2 {
    grid-area: tab2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-color: #d9d9d9;
    border-left-width: 1px;
    border-left-style: solid;
}

.content .blockify .container-button {
    padding: 0 12px;
}

.content .blockify .add {
    background-color: #009543;
}

.content .blockify .modify {
    background-color: gray;
}

.content .blockify .delete {
    background-color: #9d0300;
}

.content .blockify .button {
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
    padding: 6px;
    margin: 12px 0;
    border-radius: 2px;
    transition: transform 0.1s ease-in-out;
}

.content .blockify .button:hover {
    transform: scale(1.1);
}

.content .blockify .articles .cell .card .button {
    margin: 0 6px;
}

.content .blockify .button img {
    filter: invert();
}

.content .blockify .flexify {
    display: flex;
    justify-content: center;
}

.content .blockify .flexify .block {
    max-width: 1024px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.content .blockify .flexify .block .no-image {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "title buttons"
        "description description";
    grid-gap: 12px;
    margin: 12px;
}

.content .blockify .flexify .block .title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.content .blockify .flexify .block .title .data-number {
    font-weight: lighter;
    font-size: 0.8rem;
    color: gray;
}

.content .blockify .flexify .block .title .data-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 6px;
}

.content .blockify .flexify .block .description {
    grid-area: description;
    color: gray;
}

.content .blockify .flexify .block .image {
    grid-area: image;
    display: flex;
}

.content .blockify .flexify .block .buttons {
    grid-area: buttons;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cancel delete";
}

.content .blockify .flexify .block .buttons-opening {
    grid-area: buttons;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cancel";
}

.content .blockify .flexify .block .image img {
    width: 100%;
}

.content .blockify .flexify .block .with-image {
    padding: 12px;
    display: grid;
    grid-template-columns: 250px 1fr auto;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "title title buttons"
        "image description description";
    grid-gap: 12px;
    margin: 12px;
}

.content .blockify .flexify .block .day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: 25px 25px;
    grid-template-areas:
        "name morning . buttons"
        "name afternoon . buttons";
    padding: 12px;
    border-top-color: #d9d9d9;
    border-top-width: 1px;
    border-top-style: solid;
    align-items: center;
}

.content .blockify .flexify .block .day-noperm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px;
    grid-template-areas:
        "name morning"
        "name afternoon";
    padding: 12px;
    border-top-color: #d9d9d9;
    border-top-width: 1px;
    border-top-style: solid;
}

.content .blockify .flexify .block .day-noperm .name,
.content .blockify .flexify .block .day .name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.content .blockify .flexify .block .day-noperm .morning,
.content .blockify .flexify .block .day .morning {
    grid-area: morning;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .blockify .flexify .block .day-noperm .afternoon,
.content .blockify .flexify .block .day .afternoon {
    grid-area: afternoon;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .blockify .flexify .block .day .morning .closed,
.content .blockify .flexify .block .day .afternoon .closed,
.content .blockify .flexify .block .day-noperm .morning .closed,
.content .blockify .flexify .block .day-noperm .afternoon .closed {
    color: red;
}

@media screen and (max-width: 1011px) {

    .content .blockify .flexify .block .with-image {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto 1fr;
        grid-template-areas:
        "title"
        "image"
        "description";
    }
}